In [3]:
import sqlite3
import pandas as pd

In [23]:
con = sqlite3.connect('Downloads/Ex_Files_SQL_EssT/Exercise Files/SQL/album-sqlite3.sql')
cursor = con.cursor()
cursor.execute('''select * from album''')

DatabaseError: file is not a database

In [17]:
def query(q : str):
    return pd.read_sql_query(q, con)

In [22]:
display(query('''select * from album'''))

DatabaseError: Execution failed on sql 'select * from album': file is not a database