In [2]:
import pandas as pd

In [8]:
df = pd.read_csv('some_words.csv')
df

            phrase
0             fast
1              rat
2           reward
3            light
4             bulb
5           singer
6           coffee
7             noon
8          cutlery
9       Chiang Mai
10         floored
11          freeze
12          drawer
13             bed
14          carrot
15            mice
16        Yosemite
17         rotator
18          circus
19          babies
20  leather jacket
21      hieroglyph

In [9]:
df['pointless'] = 0
df

            phrase  pointless
0             fast          0
1              rat          0
2           reward          0
3            light          0
4             bulb          0
5           singer          0
6           coffee          0
7             noon          0
8          cutlery          0
9       Chiang Mai          0
10         floored          0
11          freeze          0
12          drawer          0
13             bed          0
14          carrot          0
15            mice          0
16        Yosemite          0
17         rotator          0
18          circus          0
19          babies          0
20  leather jacket          0
21      hieroglyph          0

In [16]:
d = {'hello':'bye'}

In [17]:
d['23'] = 'bye'
d

{'hello': 'bye', '23': 'bye'}

In [99]:
def numberofvowels(string):
    count = 0
    vowels = 'aeiou'
    for letter in string:
        if letter in vowels:
            count += 1
    return count

In [115]:
def reversalinlist(string, df, x):
    for i in range(len(df['phrase'])):
        if df['phrase'][i] == string[::-1] and x != i:
            return True
    return False

In [116]:
pd.options.mode.chained_assignment = None
df['length'] = 0
df['Capitalized'] = 0
df['number of vowels'] = 0
df['proportion of vowels'] = 0
df['reversal'] = 0
df['isPalindrome'] = 0
df['alphabetical order'] = 0
df['reversal in list'] = 0
for x in range(len(df['phrase'])):
    df['length'][x] = len(df['phrase'][x])
    df['Capitalized'][x] = df['phrase'][x][0].isupper()
    df['number of vowels'][x] = numberofvowels(df['phrase'][x])
    df['proportion of vowels'][x] = df['length'][x]/df['number of vowels'][x]
    df['reversal'][x] = df['phrase'][x][::-1]
    df['isPalindrome'][x] = df['phrase'][x] == df['reversal'][x]
    df['alphabetical order'][x] = sorted(df['phrase'][x])
    df['reversal in list'][x] = reversalinlist(df['phrase'][x],df,x)
df

,phrase,length,Capitalized,number of vowels,proportion of vowels,reversal,isPalindrome,alphabetical order,reversal in list
0,fast,4,False,1,4,tsaf,False,"[a, f, s, t]",False
1,rat,3,False,1,3,tar,False,"[a, r, t]",False
2,reward,6,False,2,3,drawer,False,"[a, d, e, r, r, w]",True
3,light,5,False,1,5,thgil,False,"[g, h, i, l, t]",False
4,bulb,4,False,1,4,blub,False,"[b, b, l, u]",False
5,singer,6,False,2,3,regnis,False,"[e, g, i, n, r, s]",False
6,coffee,6,False,3,2,eeffoc,False,"[c, e, e, f, f, o]",False
7,noon,4,False,2,2,noon,True,"[n, n, o, o]",False
8,cutlery,7,False,2,3,yreltuc,False,"[c, e, l, r, t, u, y]",False
9,Chiang Mai,10,True,4,2,iaM gnaihC,False,"[ , C, M, a, a, g, h, i, i, n]",False
10,floored,7,False,3,2,deroolf,False,"[d, e, f, l, o, o, r]",False
11,freeze,6,False,3,2,ezeerf,False,"[e, e, e, f, r, z]",False
12,drawer,6,False,2,3,reward,False,"[a, d, e, r, r, w]",True
13,bed,3,False,1,3,deb,False,"[b, d, e]",False
14,carrot,6,False,2,3,torrac,False,"[a, c, o, r, r, t]",False
15,mice,4,False,2,2,ecim,False,"[c, e, i, m]",False
16,Yosemite,8,True,4,2,etimesoY,False,"[Y, e, e, i, m, o, s, t]",False
17,rotator,7,False,3,2,rotator,True,"[a, o, o, r, r, t, t]",False
18,circus,6,False,2,3,sucric,False,"[c, c, i, r, s, u]",False
19,babies,6,False,3,2,seibab,False,"[a, b, b, e, i, s]",False
20,leather jacket,14,False,5,2,tekcaj rehtael,False,"[ , a, a, c, e, e, e, h, j, k, l, r, t, t]",False
21,hieroglyph,10,False,3,3,hpylgoreih,False,"[e, g, h, h, i, l, o, p, r, y]",False

In [12]:
def foo(x):
    return x*20
foo('ha')

'hahahahahahahahahahahahahahahahahahahaha'

In [ ]:
foo = lambda x: x*2
df['also pointless'] = df['phrase'].map(lambda x:)