In [1]:
import pandas as pd

In [2]:
import numpy as np

In [5]:
fipslist = np.random.randint(0,1000000,5)
unemp = np.random.rand(5)*100
df = pd.DataFrame( zip(fipslist,unemp) , columns = ['FIPS','unemployment rate'] )
df

     FIPS  unemployment rate
0  577054          35.754387
1  478640           7.526083
2   80153          88.213787
3  776291          61.387132
4   90319          71.917266

# option 1 - get out of pandas

Make a dict

In [6]:
ulookup = { k:v for k,v in df[ ['FIPS','unemployment rate'] ].values }

In [7]:
ulookup[577054]

35.754386603175334

In [8]:
for item in np.random.rand(5,2):
    print(item)
    break

[0.20616347 0.74691641]

In [10]:
for item in zip('abc', [4,5,6,7]):
    print(item)

('a', 4)
('b', 5)
('c', 6)

# Option 2: use pandas directly by re-indexing the df

In [11]:
df

     FIPS  unemployment rate
0  577054          35.754387
1  478640           7.526083
2   80153          88.213787
3  776291          61.387132
4   90319          71.917266

In [13]:
df.set_index('FIPS', inplace=True)

In [14]:
df

        unemployment rate
FIPS
577054          35.754387
478640           7.526083
80153           88.213787
776291          61.387132
90319           71.917266

In [16]:
df.loc[577054]['unemployment rate']

35.754386603175334

In [17]:
df.loc[577054,'unemployment rate']

35.754386603175334

In [18]:
df.iloc[4]

unemployment rate    71.917266
Name: 90319, dtype: float64

# Membership in a set can be tested MUCH faster than m'ship in a list.

In [19]:
from time import time

In [21]:
mylist = list(np.random.randint(0,100000000000000,10000000,dtype=int))
myset = set(mylist)
len(myset) == len(mylist)

True

In [22]:
tic = time()

toc = time()

In [24]:
tic = time()
print(0 in mylist)
toc = time()
print(toc-tic)

False
2.6930840015411377

In [26]:
tic = time()
print(0 in mylist)
toc = time()
tlist = toc-tic

tic = time()
print(0 in myset)
toc = time()
tset = toc-tic
print('set lookup is', tlist/tset, 'times faster')

False
False
set lookup is 14236.609375 times faster